# canRenderInLayer hook
public net.minecraft.client.renderer.block.model.WeightedBakedModel field_177566_c # baseModel

# WeightedBakedModel
public net.minecraft.client.renderer.block.model.WeightedBakedModel func_188627_a(J)Lnet/minecraft/client/renderer/block/model/IBakedModel; # getRandomModel
